<!DOCTYPE html>
<html lang="en">

<head>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <title>rodrigo's blog</title>

     <link rel="stylesheet" href="../css/bootstrap.min.css">
     <link rel="stylesheet" href="../css/fontawesome.css">

     <!-- Main css -->
     <link rel="stylesheet" href="../css/custom.css">
     <link rel="stylesheet" href="static/custom.css">

</head>

<body>

     <!-- PRE LOADER -->

     <div class="preloader">
          <div class="spinner">
               <div class="dot1"></div>
               <div class="dot2"></div>
          </div>
     </div>

     <!-- Navigation section  -->

     <div class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>
                    <a href="../index.html" class="navbar-brand">
                         <span class="avatar">
                              <img src="../images/rodrigo-luger-avatar.jpg">
                         </span>
                    </a>
               </div>
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                         <li class="active"><a href="../index.html">home</a></li>
                         <li><a href="../about.html">about</a></li>
                         <li><a href="https://github.com/rodluger/cv/raw/master-pdf/luger_cv.pdf">cv</a></li>
                         <li><a href="#">blog</a></li>
                    </ul>
               </div>

          </div>
     </div>

     <!-- Blog Section -->

     <section id="blog">
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-1 col-md-10 col-sm-12">
                         <div class="section-title">
                              <h1>rodrigo's blog</h1>
                         </div>

                         <style>
                              #toc_container {
                                   display: table;
                                   font-size: 12pt;
                                   margin-bottom: 1em;
                                   padding: 20px;
                                   width: auto;
                                   margin-left: auto;
                                   margin-right: auto;
                              }

                              .toc_title {
                                   font-size: 16pt;
                                   font-weight: 700;
                                   color: #666;
                                   text-align: center;
                              }

                              .toc_list {
                                   padding: 0;
                              }

                              #toc_container a {
                                   color: #666;
                              }

                              #toc_container a:hover {
                                   color: #000;
                              }

                              @media (min-width: 768px) {
                                   .toc-regular {
                                        display: inherit;
                                   }
                                   .toc-tiny {
                                        display: none;
                                   }
                              }

                              @media (max-width: 768px) {
                                   .toc-regular {
                                        display: none;
                                   }
                                   .toc-tiny {
                                        display: inherit;
                                   }
                              }
                         </style>

                         <div id="toc_container">
                              <p class="toc_title">Contents</p>
                              <table style="width:100%">

                                   {% for item in posts %}
                                   <tr>
                                        <td class="toc-regular" style="text-align:right;">{{item.post.shortdate}}</td>
                                        <td class="toc-tiny" style="text-align:right;">{{item.post.shortdate_tiny}}</td>
                                        <td style="padding: 0 0.5em;">|</td>
                                        <td class="toc-regular"><a href="#{{item.post.id}}" style="font-weight:400;">{{item.post.title}}</a></td>
                                        <td class="toc-tiny"><a href="#{{item.post.id}}" style="font-weight:400;">{{item.post.title_tiny}}</a></td>
                                   </tr>
                                   {% endfor %}

                              </table>
                         </div>

                         {% for item in posts %}
                         <div class="blog-post-thumb" id="{{item.post.id}}">
                              <div class="blog-post-image">
                                   <a href="{{item.post.url}}">
                                        <img src="{{item.post.banner}}" class="img-responsive" alt="Blog Image">
                                   </a>
                              </div>
                              <div class="blog-post-title">
                                   <h3><a href="{{item.post.url}}">{{item.post.title}}</a></h3>
                              </div>
                              <div class="blog-post-format">
                                   <span><a href="{{item.post.author.url}}"><img src="{{item.post.author.image}}"
                                                  class="img-responsive img-circle">
                                             {{item.post.author.name}}</a></span>
                                   <span><i class="far fa-calendar"
                                             style="margin-right:5px; color: #666;"></i>{{item.post.date}}</span>
                              </div>
                              <div class="blog-post-des">
                                   <p>{{item.post.summary}}</p>
                                   <a href="{{item.post.url}}" class="btn btn-default">Continue Reading</a>
                              </div>
                         </div>
                         {% endfor %}

                    </div>

               </div>
          </div>
     </section>

     <!-- Footer Section -->

     <footer>
          <div class="container">
               <div class="row">

                    <div class="col-md-3 col-sm-3">
                         <span class="avatar">
                              <img src="../images/rodrigo-luger-avatar.jpg">
                         </span>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <p>162 5th Ave, 5th Floor<br />New York NY 10100 United States</p>
                    </div>

                    <div class="col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-3">
                         <p><a href="mailto:rodluger@gmail.com">rodluger@gmail.com</a> <br /> (610) 675 6056</p>
                    </div>

                    <div class="clearfix col-md-12 col-sm-12">
                         <hr>
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <div class="footer-copyright">
                              <p>© 2020 Rodrigo Luger &nbsp | &nbsp <a
                                        href="https://github.com/rodluger/rodluger.github.io">hosted on github</a>
                              </p>
                         </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <ul class="social-icon">
                              <li><a href="https://github.com/rodluger" class="fab fa-github"></a></li>
                              <li><a href="https://twitter.com/rodluger" class="fab fa-twitter"></a></li>
                              
                         </ul>
                    </div>

               </div>
          </div>
     </footer>

     <!-- SCRIPTS -->

     <script src="../js/jquery.js"></script>
     <script src="../js/bootstrap.min.js"></script>
     <script src="../js/custom.js"></script>

</body>

</html>